@mixin box($width, $height) {
  width: $width;
  height: $height;
}
@mixin flex($justify:center,$align:center) {
  display: flex;
  justify-content:$justify ; 
  align-items:$align ;
}

#root{
  @include box(100vw,100vh);
}

header{
  @include box(400px,100px);
  background-color: red;
}