@mixin box($width, $height) {
  width: $width;
  height: $height;
}
@mixin flex($justify:center,$align:center) {
  display: flex;
  justify-content:$justify; 
  align-items:$align;
}
$root-color:#292E40;
$blue-color1:#65A3DC;
$blue-color1:#657FDC;
$gray-color:rgb(121, 118, 118);

#root{
  @include box(100vw,100vh);
  @include flex;
  background-color: $root-color;
  >div{
    @include box(1000px,600px);
  }
}

header{
  @include box(1000px,80px);
  @include flex;
  border-top: 2px solid $gray-color;
  border-bottom: 2px solid $gray-color;
  color:white;
  font-size: 24px;
  >div{
    @include box(20%,100%);
    @include flex;
  }
  >div:nth-child(3){
    flex-direction: column;
    >p:nth-child(2){
      font-size: 32px;
      font-weight: 800;
    }
  }
}

main{
  @include box(1000px,520px);
  @include flex;
  >div:nth-child(2){
    >div:nth-child(1){
      @include box(500px,40px);
      @include flex;
      color: white;
    }
    >div:nth-child(3){
      @include box(500px,40px);
      @include flex;
      color: white;
    }
    >div:nth-child(4){
      @include box(500px,140px);
      @include flex;
      >div:nth-child(1){
        @include box(50px,140px);
        @include flex(space-between,flex-end);
        flex-direction: column;
        color: white;
        font-size: 12px;
        >p:nth-child(1){
          position: relative;
          bottom:9px;
          right: 2px;
        }
        >p:nth-child(2){
          position: relative;
          bottom: 22px;
          right: 2px;
        }
      }
    }
  }
}

#game_stats{
  @include box(500px,520px);
  @include flex;
  flex-direction: column;
  color:white;
  >div:nth-child(1){
    @include box(500px,40px);
    @include flex;
    >div{
      @include box(150px,40px);
      @include flex;
      >p{
        display: inline-block;
        background-color: #65A3DC;
        border-radius: 30px;
        text-align: center;
        color:white;
        font-size: 16px;
        padding: 4px 8px;
      }
    }
  }
  >div:nth-child(2){
    @include box(500px,480px);
    @include flex;
    flex-direction: column;
    border-right: 1px solid white;
    >div{
      @include box(100%,12.5%);
      @include flex;
      >div{
        border-top: 1px solid $gray-color;
      }
      >div:nth-child(1){
        @include box(35%,100%);
        @include flex(flex-end,center);
        font-size: 24px;
      }
      >div:nth-child(2){
        @include box(20%,100%);
        @include flex;
      }
      >div:nth-child(3){
        @include box(35%,100%); 
        @include flex(flex-start,center);
        font-size: 24px;
      }
      img{
        @include box(35px,35px);
      }
    }
    >div:nth-child(5){
      >div:nth-child(1){
        @include flex(flex-start,center);
        flex-direction: row-reverse;
      }
    }
  }
}

#deal{
  @include box(500px,300px);
  @include flex;
  flex-direction: column;
  flex-wrap: wrap;
  color:white;
}

.deal_left{
  @include box(50%,20%);//250,60
    @include flex;
    >div:nth-child(1){
      @include box(60px,60px);
      @include flex;
      >img{
        @include box(50px,50px);
      }
    }
    >div:nth-child(2){
      @include box(190px,60px);
      @include flex(center,flex-start);
      flex-direction: column;
      >div:nth-child(1){
        @include box(190px,21px);
        @include flex(flex-start,center);
        >p{
          margin-right: 3px;
        }
        >div{
          @include box(30px,21px);
          @include flex;
          border-radius: 10px;
          border:1px white solid;
          color:black;
          font-size: 14px;
        }
      }
      >div:nth-child(3){
        background-color: rgb(78, 78, 253);
        height: 10px;
        >div{
          background-color: skyblue;
          height: 10px;
        }
      }
    }
}
.deal_right{
  @include box(50%,20%);//250,60
  @include flex;
  >div:nth-child(2){
    @include box(60px,60px);
    @include flex;
    >img{
      @include box(50px,50px);
    }
  }
  >div:nth-child(1){
    @include box(190px,60px);
    @include flex(center,flex-end);
    flex-direction: column;
    >div:nth-child(1){
      @include box(190px,21px);
      @include flex(flex-end,center);
      >p{
        margin-left: 3px;
      }
      >div{
        @include box(30px,21px);
        @include flex;
        border-radius: 10px;
        border:1px white solid;
        color:black;
        font-size: 14px;
      }
    }
    >div:nth-child(3){
      @include flex(flex-end,center);
      background-color: rgb(211, 11, 11);
      height: 10px;
      >div{
        background-color: salmon;
        height: 10px;
      }
    }
  }
}
#gold{
  @include box(450px,140px);
}

@media (max-width: 1024px) {
  #root{
    @include box(100vw,1400px);
    >div{
      @include box(500px,1200px);
    }
  }
  header{
    @include box(500px,50px);
    font-size: 16px;
    >div{
      @include box(20%,100%);
      @include flex;
    }
    >div:nth-child(3){
      flex-direction: column;
      >p:nth-child(2){
        font-size: 20px;
        font-weight: 800;
      }
    }
  }
  main{
    @include box(500px,1040px);
    @include flex;
    flex-direction: column;
  }
  #game_stats{
    @include box(500px,520px);
    @include flex;
    flex-direction: column;
    color:white;
    >div:nth-child(1){
      @include box(500px,40px);
      @include flex;
      >div{
        @include box(150px,40px);
        @include flex;
        >p{
          display: inline-block;
          background-color: #65A3DC;
          border-radius: 30px;
          text-align: center;
          color:white;
          font-size: 16px;
          padding: 4px 8px;
        }
      }
    }
    >div:nth-child(2){
      @include box(500px,480px);
      @include flex;
      flex-direction: column;
      border-right: 0px solid white;
      >div{
        @include box(100%,12.5%);
        @include flex;
        >div{
          border-top: 0px solid $gray-color;
          border-bottom: 1px solid $gray-color;
        }
        >div:nth-child(1){
          @include box(35%,100%);
          @include flex(flex-end,center);
          font-size: 24px;
        }
        >div:nth-child(2){
          @include box(20%,100%);
          @include flex;
        }
        >div:nth-child(3){
          @include box(35%,100%); 
          @include flex(flex-start,center);
          font-size: 24px;
        }
        img{
          @include box(35px,35px);
        }
      }
      >div:nth-child(5){
        >div:nth-child(1){
          @include flex(flex-start,center);
          flex-direction: row-reverse;
        }
      }
    }
  }
}