body {
  overflow-x: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(217, 241, 251);
  flex-direction: column;
}

.search_box {
  width: 80%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_box > form {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_box > form #name {
  width: 90%;
  height: 90%;
}
.search_box > form #button {
  width: 10%;
  height: 90%;
}

.user_info {
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user_info > div:nth-child(1) {
  width: 50%;
  height: 100%;
}
.user_info > div:nth-child(1) > div:nth-child(1) {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user_info > div:nth-child(1) > div:nth-child(2) {
  width: 100%;
  height: 140px;
  display: flex;
}
.user_info > div:nth-child(1) > div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user_info > div:nth-child(1) > form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user_info > div:nth-child(2) {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.user_info > div:nth-child(2) > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user_info > div:nth-child(2) > div:nth-child(2) {
  width: 160px;
  height: 160px;
}

.rank {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rank > img {
  width: 80px;
  height: 80px;
}

main {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
}
main > div {
  width: 600px;
  height: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.win {
  border-top: 5px solid blue;
  border-bottom: 5px solid blue;
  background-color: rgb(217, 241, 251);
}

.lose {
  border-top: 5px solid red;
  border-bottom: 5px solid red;
  background-color: rgb(255, 229, 226);
}

.game_Box {
  width: 80%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.1);
}
.game_Box > div {
  width: 320px;
  height: 180px;
  display: flex;
  flex-direction: column;
}
.game_Box > div > div {
  display: flex;
}

.champ_img {
  width: 80px;
  height: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.champ_img > img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}
.champ_img > div:nth-child(2) {
  width: 24px;
  height: 24px;
  background-color: #888;
  border-radius: 12px;
  position: absolute;
  color: white;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.champ_img > img:nth-child(3) {
  width: 24px;
  height: 24px;
  background-color: black;
  border-radius: 12px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.info_box {
  width: 240px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.info_box > div:nth-child(1) {
  width: 210px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
.info_box > div:nth-child(1) > div {
  display: flex;
  align-items: center;
}
.info_box > div:nth-child(1) > div:nth-child(1) {
  font-size: 20px;
}
.info_box > div:nth-child(1) > div:nth-child(2) {
  font-size: 16px;
}
.info_box > div:nth-child(1) > div:nth-child(3) {
  font-size: 12px;
}
.info_box > div:nth-child(2) {
  width: 210px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info_box > div:nth-child(2) > div:nth-child(1) {
  font-size: 22px;
  font-weight: 800;
  display: flex;
  align-items: center;
  white-space: pre;
}
.info_box > div:nth-child(2) > div:nth-child(2) {
  display: inline-block;
  background-color: violet;
  border-radius: 40px;
  text-align: center;
  color: white;
  font-size: 12px;
  padding: 4px 8px;
}

.spell_box {
  width: 80px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.spell_box > img {
  width: 35px;
  height: 35px;
  border: 1px gray solid;
  border-radius: 8px;
}

.item_box {
  width: 240px;
  height: 60px;
  display: flex;
  justify-content: flex-end;
}
.item_box > div {
  width: 210px;
  height: 60px;
  display: flex;
  align-items: center;
}
.item_box > div > img {
  width: 35px;
  height: 35px;
  border-radius: 8px;
  overflow: hidden;
}

.kda_box {
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kda_box > div {
  font-size: 20px;
  font-weight: 800;
  white-space: pre;
}

.info_box2 {
  width: 240px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
}
.info_box2 > div {
  width: 210px;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
}
.info_box2 > div > div:nth-child(1) {
  width: 210px;
}
.info_box2 > div > div:nth-child(2) {
  width: 80px;
}/*# sourceMappingURL=search.css.map */