#root{
  width: 100vw;
}

header{
  width: 100vw;
  height: 10vh;
  background-color: white;
}
main{
  width: 100vw;
  height: 90vh;
}

.searchBox{
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid black;
  border-radius: 10px;
  >div{
    width: 280px;
    height: 180px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    >div:nth-child(2){
      width: 100px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    >div:nth-child(3){
      width: 180px;
      height: 180px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      >div:nth-child(3){
        width: 180px;
        height: 90px;
        display: flex;
      }
    }
  }
}
.champ_img{
  width: 100px;
  height: 100px;
  position: relative;
  >img{
    width: 96px;
    height: 96px;
    border-radius: 48px;
  }
  >div:nth-child(2){
    width: 24px;
    height: 24px;
    background-color: #888;
    border-radius: 12px;
    position:absolute;
    color:white;
    bottom: 4px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  >img:nth-child(3){
    width: 24px;
    height: 24px;
    background-color: black;
    border-radius: 12px;
    position: absolute;
    bottom: 4px;
    right: 4px;
  }
}
.spellbox{
  width: 40px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  img{
    width: 40px;
    height: 40px;
    border:1px gray solid;
    border-radius: 10px;
  }
}
.itembox{
  width: 140px;
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  img{
    width: 40px;
    height: 40px;
    border:1px gray solid;
    border-radius: 10px;
  }
}